@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


/* 
===================
     css reset
===================
 */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body {
     font-family: 'Roboto', sans-serif;
 }

 /* 
===================
     variables
===================
 */

 :root {
     --clr-bl-primary:#7030CC;
     --clr-sky-primary:#32C2F0
 }


 /* 
===================
     Header
===================
 */

 header {
     background-color: var(--clr-bl-primary);
     height: 44rem;
     color: white;
 }
 header .navbar {
     padding: 2rem 0rem;
     display: flex;
     align-items: center;
     justify-content: space-around;
 }

 .navbar nav ul {
     display: flex;
     align-items: center;
 }

 .navbar nav ul li {
     margin: 0rem 1rem;
     list-style: none;
     cursor: pointer;
 }

 .navbar nav ul li:hover {
     color: var(--clr-sky-primary);
 }

.btn {
     background-color: var(--clr-sky-primary);
     padding: 1rem 2rem;
}

.btn:hover{
     color: black;
     background-color: #441e79;
}

/* header details */

.header-main {
     display: flex;
     align-items: center;
}

.header-left {
     flex: 1;
     padding: 0rem 2rem 0rem 9rem;
}

.header-left h1 {
     font-size: 4rem;
     margin-bottom: 1rem;
     padding-right: 5rem;
}

.header-left p {
     padding-right: 12rem;
     word-spacing: 0.2rem;
     line-height: 1.5rem;
}

.header-right {
     flex: 1;
}
.header-right img {
     width: 100%;
     float: left;
}


/* 
=========================
   feature 2nd section
========================
 */

 .features {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 90vw;
     margin-left: 5vw;
     padding: 4rem 0rem;
 }
 .feature-left {
     flex: 1;
     float: right;
 }
 .feature-right {
     flex: 1;
 }

 .feature-left img{
     width: 100%;
 }

 .feature-right h1 {
     font-size: 2rem;
     margin-bottom: 1rem;
     padding: 1rem 5rem 2rem 8rem;
 }
 
 .feature-right div h2 {
     padding: 0.8rem 0rem;
 }

 .feature-right div {
     padding: 1rem 4rem 1.5rem 12rem;
    float: right;
    word-spacing: 0.2rem;
 }


 /* 
 ================
 last section 
 ===================
 */

.last-section h1 {
     text-align: center;
     padding: 0rem 30rem;
}

.cards {
     display: flex;
     margin: 2rem;
     justify-content: center;
}
.card {
     width: 15rem;
    height: 16rem;
    /* background-color: rosybrown; */
    margin: 0 0.5rem;
    padding-top: 2rem;
    text-align: center;
    border-radius: 2rem;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.card h2 {
     margin-bottom: 0.5rem;
}

.card img {
     width: 4rem;
}

.card-img {  
     background-color: #e72c5324;
     border-radius: 50%;
     height: 7rem;
     width: 7rem;
     margin: auto;
     margin-bottom: 1rem;
     display: flex;
     align-items: center;
     justify-content: center;
}

.colored {
     background-color: var(--clr-bl-primary);
     color: white;
     height: 6rem;
     border-radius: 2rem;
}